body {
  margin: 0;
  font-family: 'Montserrat', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: black;
  }
}

header {
  display: flex;
  max-width: 1200px;
  min-height: 100px;
  justify-content: space-between;
  margin: auto;
}

.left-part {
  display: flex;
  justify-content: space-between;
}

.menu>ul {
  display: flex;
  gap: 40px;
  cursor: pointer;
  color: #4B5D68;
}

.menu li:hover {
  color: #9C69E2;
}

header>button {
  font-family: 'Montserrat', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: solid 1px;
  border-color: #9C69E2;
  color: #212353;
  border-radius: 20px;
  height: 60px;
  width: 210px;
  cursor: pointer;
  font-weight: 700px;
  letter-spacing: 1.2px;
  text-align: left;
  padding-left: 20px;
}

header>button::after {
  content: url(images/arrow.svg);
  padding-left: 20px;
}

main {
  max-width: 1200px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  gap: 150px;
  margin: auto;
}

article {
  max-width: 100%;
  min-height: 500px;
}

h1 {
  font-size: 80px;
  color: #212353;
}

.text-part {
  max-width: 600px;
  text-align: left;
  position: absolute;
  z-index: 1;
}

.text-part>p {
  max-width: 400px;
}

.text-part>button {
  font-family: 'Montserrat', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: none;
  background-color: #8A40EE;
  border-radius: 20px;
  height: 60px;
  width: 210px;
  cursor: pointer;
  font-weight: 700px;
  font-size: 18px;
  text-align: center;
}

.text-part>button>a {
  color: #fff;
}

.text-part>button:not(:hover) {
  background-color: #9C69E2;
  opacity: 60%;
}

.first>img {
  position: relative;
  left: 400px;
  top: 200px;
}

.second {
  display: flex;
  background-color: #FDE8F5;
  border-radius: 30px;
  padding: 70px;
  justify-content: space-between;
  text-align: center;
}

.text-2 {
  max-width: 500px;
  min-height: 340px;
}

h2 {
  font-size: 40px;
  color: #212353;
  padding-top: 70px;
}

.text-2>p {
  font-size: 18px;
  color: #4B5D68;
  text-align: left;
}

