body {
  margin: 0;
  font-family: 'Montserrat', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: black;
  }
}

header {
  display: flex;
  max-width: 1200px;
  min-height: 100px;
  justify-content: space-between;
  margin: auto;
}

.left-part {
  display: flex;
  justify-content: space-between;
}

.menu>ul {
  display: flex;
  gap: 40px;
  cursor: pointer;
  color: #4B5D68;
}

.menu li:hover {
  color: #9C69E2;
}

header>button {
  font-family: 'Montserrat', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: solid 1px;
  border-color: #9C69E2;
  color: #212353;
  border-radius: 20px;
  height: 60px;
  width: 210px;
  cursor: pointer;
  font-weight: 700px;
  letter-spacing: 1.2px;
  text-align: left;
  padding-left: 20px;
}

header>button::after {
  content: url(images/arrow.svg);
  padding-left: 20px;
}

main {
  max-width: 1200px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  margin: auto;
}

article {
  max-width: 100%;
  min-height: 500px;
}

h1 {
  font-size: 80px;
  color: #212353;
  font-family: 'Work Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.first-text-part {
  max-width: 600px;
  text-align: left;
  position: absolute;
  z-index: 1;
}

.first-text-part>p {
  max-width: 400px;
}

.first-text-part>button {
  font-family: 'Montserrat', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: none;
  background-color: #8A40EE;
  border-radius: 20px;
  height: 60px;
  width: 210px;
  cursor: pointer;
  font-weight: 700px;
  font-size: 18px;
  text-align: center;
}

.first-text-part>button>a {
  color: #fff;
}

.first-text-part>button:not(:hover) {
  background-color: #9C69E2;
  opacity: 60%;
}

.first>img {
  position: relative;
  left: 400px;
  top: 200px;
}

.second {
  display: flex;
  background-color: #FDE8F5;
  border-radius: 30px;
  padding: 40px;
  justify-content: space-between;
  text-align: center;
  margin: 100px 50px 50px 50px;
}

.text-2 {
  max-width: 500px;
  min-height: 340px;
}

h2 {
  font-size: 40px;
  color: #212353;
  padding-top: 70px;
  font-family: 'Work Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.some-text {
  max-width: 638px;
  margin-inline: auto;
  text-align: center;
  padding-bottom: 30px;
}

.cards {
  margin: auto;
  max-width: 1200px;
}

.cards>ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.cards li {
  width: 540px;
  height: 400px;
  display: flex;
  position: relative;
  justify-content: center;
}

.text-part {
  width: 220px;
  padding: 62px 70px 62px 100px;
  border-radius: 25%;
  position: relative;
  z-index: -1;
}

li:nth-of-type(1) .text-part{
  background-color: #F0FAF9;
}

li:nth-of-type(2) .text-part{
  background-color: #F6F0FD;
}

li:nth-of-type(3) .text-part{
  background-color: #FEF0F8;
}

li:nth-of-type(4) .text-part{
  background-color: #EAF6FC;
}

h3 {
  font-size: 24px;
  color: #212353;
  font-family: 'Work Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cards>ul>li>img {
  position: absolute;
  right: 400px;
  top: 100px;
  z-index: 1;
}

article:last-of-type {
  background-image: url(images/bg-image\ for\ test.png);
  background-color: #CCDDFF;
  margin-top: 50px;
  max-width: 1100px;
  border-radius: 20px;
}

article:last-of-type>h2 {
  text-align: center;
  color: #4B5D68;
}

.testimonials {
  justify-content: space-evenly;
  display: flex;
}

.testimonials>section {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  width: 420px;
  height: 200px;
  border: solid #9C69E2 1px;
  border-radius: 20px;
  background-color: #fff;
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

.text-part-again-just-kill-me {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  gap: 10px;
}

.testimonials>section>img{
  border-radius: 50%;
}

footer header {
  max-width: 1200px;
  justify-content: space-evenly;
  align-items: center;
}

.wrapper-contacts {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-top: 100px;
}


